@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'helvetica thin';
	src: local("HelveticaNeueLTPro-Th.otf");
	src: url('HelveticaNeueLTPro-Th.otf');
	src: url('HelveticaNeueLTPro-Th.otf?#iefix') format('otf'),

}
@font-face {
	font-family: 'helvetica light';
	src: local("HelveticaNeueLTPro-Lt.otf");
	src: url('HelveticaNeueLTPro-Lt.otf');
	src: url('HelveticaNeueLTPro-Lt.otf?#iefix') format('otf'),

}
@font-face {
	font-family: 'helvetica medium';
	src: local("HelveticaNeueLTPro-Md.otf");
	src: url('HelveticaNeueLTPro-Md.otf');
	src: url('HelveticaNeueLTPro-Md.otf?#iefix') format('otf'),

}